<!DOCTYPE html>
<html ng-app>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
</head>
<body>
<% include templates/header.ejs %>
<div class="text-center">

    <form action="" method="post" class="form-horizontal">
        <div class="center-obj">
            <p>Click the underlying to cancel this appointment</p>
        </div>

        <input type="submit" value="Cancel reservation" class="btn btn-default">
    </form>
</div>



</body>
</html>
